#home-profiles-panel {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#home-profiles-top-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent linear-gradient(to right, transparent, white, white, white, white, white, white, white, transparent) transparent;
    -fx-border-width: 0 0 2 0;
}

#home-profiles-holder {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-padding: 15 20 15 20;
}

#home-profiles-profile {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-pref-width: 200;
    -fx-pref-height: 285;
}

#home-profiles-create-profile {
    -fx-font-size: 20px;
    -fx-padding: 0 20 0 0;
}

#home-profiles-creation-panel {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#home-profiles-creation-base-pane {
    -fx-padding: 15 20 15 20;
}

#home-profiles-creation-title {
    -fx-font-size: 32px;
    -fx-padding: 0 0 15 0;
}

.home-profiles-creation-config-block {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 15 20 15 20;

    /* Make it absurdly big to make sure the whole width will be taken */
    -fx-pref-width: 1000000;
}

#home-profiles-creation-config-block-title {
    -fx-font-size: 24px;
}

#home-profiles-creation-core-block {
    -fx-pref-height: 300;
}

#home-profiles-creation-core-block-name-field-title {
    -fx-font-size: 20px;
    -fx-translate-y: 50;
    -fx-translate-x: 3;
}

#home-profiles-creation-core-block-name-field-error {
    -fx-font-size: 14px;
    -fx-translate-y: 55;
    -fx-translate-x: -3;
    -fx-text-fill: red;
}

#home-profiles-creation-core-block-name-field {
    -fx-translate-y: 80;
}

#home-profiles-creation-core-block-save-location {
    -fx-translate-y: 5;
    -fx-translate-x: 3;
    -fx-font-size: 10px;
}