@font-face {
    font-family: 'Avenir Medium';
    src: url("../font/Avenir-Medium.ttf");
}

.grid-pane {
    background-color: transparent;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Avenir Medium";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 0);
}

.clickable-label {
    -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
    -fx-cursor: hand;
}

.clickable-label:hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);
}

.toggle-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Avenir Medium";
    -fx-background-color: transparent;
}

.toggle-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);
}

.side-menu-element {
    -fx-alignment: baseline-left;
    -fx-font-size: 35px;
    -fx-graphic-text-gap: 12px;
    -fx-max-height: 30;
    /* Make it absurdly big to make sure the whole side menu width will be taken */
    -fx-max-width: 1000;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 2 0;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.3);
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-family: "Avenir Medium";
    -fx-font-size: 20;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Avenir Medium";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.button:disabled {
    -fx-border-color: gray;
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-font-size: 6;
}

.scroll-pane .scroll-bar:vertical {
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-padding: 0;
}

.scroll-pane .thumb {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
}