@import "home/profiles.css";

#home-side-panel {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#home-title {
    -fx-font-size: 54px;
}