#login-side-panel {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#login-empty-panel {

}

#login-title {
    -fx-text-alignment: center;
    -fx-font-size: 54px;
}

#login-microsoft-panel {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#login-microsoft-status {
    -fx-font-size: 42px;
    -fx-translate-y: -50;
}

#login-microsoft-retry {
    -fx-font-size: 38px;
    -fx-translate-y: 50;
}

#login-offline-panel {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 3);
    -fx-effect-insets: 0 0 0 10;
}

#login-offline-title {
    -fx-font-size: 60px;
    -fx-translate-y: -100;
}

#login-offline-username-error {
    -fx-text-alignment: right;
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-translate-y: -35;
    -fx-translate-x: 167;
}

#login-offline-username-label {
    -fx-font-size: 14px;
    -fx-translate-y: -35;
    -fx-translate-x: -167;
}

#login-offline-username-field {
    -fx-max-width: 400;
    -fx-max-height: 50;
    -fx-text-alignment: left;
}

#login-offline-login-btn {
    -fx-pref-width: 320px;
    -fx-pref-height: 50px;
    -fx-translate-y: 100;
}